.App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.App>.logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-weight: 900;
}

/* style my image */
img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

nav>div>p {
  align-items: center;
  justify-content: center;
  background: #421981;
  color: #fff;
  display: flex;
  font-size: 1.5em;
  margin: 0px 10px;
  height: 100%;
}

.productButton {
  background: #2FC18C;
  color: #001813;
}

.myOrdersButton {
  background: #036B52;
  ;
}

nav>div>button {
  background: #421981;
  border: none;
  border-radius: unset;
  color: #fff;
  font-size: 1.5em;
  font-weight: 900;
  height: 100%;
  padding: 0.5em;
  width: 300px;
}

nav>div {
  align-items: center;
  background: #421981;
}

nav>div>button {
  background: #056CF9;
  border: none;
  border-radius: unset;
}

.productCard {
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #464646;
  display: flex;
  flex-flow: column wrap;
  margin: 30px;
  padding-bottom: 25px;
  transition: 0.3s;
  width: 300px;
}

.productimg {
  height: 74px;
  width: 74px;
}

.productsTable {
  padding-top: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

nav {
  background: #036B52;
}

nav,
nav>div {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #036b52;
  border-radius: 5px;
  color: #f2fffc;
}

.cardInput {
  text-align: center;
  width: 25px;
}

/* //////////// */

.tableItens {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.tableItens td,
.tableItens th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableItens tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableItens tr:hover {
  background-color: #ddd;
}

.tableItens th {
  background-color: #04AA6D;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
}

.totalPrice {
  background-image: linear-gradient(to right, #04AA6D, #f2f2f2);
  color: #f2f2f2;
  font-size: 30px;
}

.buttonSubmit {
  border-radius: 8px;
  border-style: none;
  font-size: 25px;
  margin-bottom: 18px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 8px;
}

/* ///// */

.headerTable {
  align-items: center;
  background-color: #DCDCDC;
  display: flex;
  height: 60px;
  justify-content: space-around;
}

.subTitle {
  font-size: 18px;
}

.subTitleBorder {
  background-color: #04AA6D;
  border-radius: 8px;
  font-size: 25px;
  padding: 8px;
}

.delivered {
  border-radius: 8px;
  border-style: none;
  font-size: 25px;
  padding: 8px;
}

.totalprice {
  background-color: #04AA6D;
  border-radius: 8px;
  border-style: solid;
  display: flex;
  font-size: 25px;
  margin-left: 10px;
  padding-right: 50px;
}

.titlecard {
  background-color: #04AA6D;
  border: solid 8px #04AA6D;
  border-radius: 10px 0px 0px 0px;
  color: #f2f2f2;
  font-size: 21px;
  width: 100%;
}
